{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link href="assets/css/index.css" rel="stylesheet">
    <title>Restaurant Bar à Soupe</title>
</head>
<body>
    <HEADER>
        <img src={{asset('assets/images/Bol_Icon.png')}} alt="logo restaurant"/>
        <h1>Restaurant Bar à Soupe</h1>
        <nav>
            <ul>
                <li><a href="{{asset('acceuil')}}">Acceuil</a></li>
                <li><a href="{{asset('menu')}}">Menus</a></li>
                {% if app.user %}
                    <li><a href="{{asset('reservation')}}">Réservation</a></li>
                {% endif %}
                <li><a href="{{asset('contact')}}">Contact</a></li>
            </ul>
        </nav>

    </HEADER>

<div class="example-wrapper">

<form method="post">
    {% if error %}
         <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal" style="margin-top:100px;">Please sign in</h1>
    
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" style="margin-top:100px;" type="submit">
        Sign in
    </button>
</form>
</div>
    <FOOTER style="position:absolute;bottom:0px;">
    <SECTION id="PiedDePage">
        <div>  
                <h4>Contacter Nous</h4>
                <img src="assets/images/iconfinder_square-facebook.svg" alt="logo Facebook"/>
                <img src="assets/images/iconfinder_circle-twitter.svg" alt="logo Twitter"/>
                <img src="assets/images/iconfinder_pinterest.svg" alt="logo Pinterest"/>
        </div>
        <div>
            <h4>© Copyright 2021</h4>
        </div>
    </SECTION>
    </FOOTER>

{% endblock %}
