{% extends 'base.html.twig' %}

{% block title %}Bar a Soupe : Reservation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin-left:10%; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script	type="text/javascript" src="{{asset('assets/js/reservation.js')}}" defer></script>
    
</head>
<body>
    <HEADER>
        <img src="assets/images/Bol_Icon.png" alt="logo restaurant"/>
        <h1>Restaurant Bar à Soupe</h1>
        <nav>
            <ul>
                <li><a href="{{asset('acceuil')}}">Acceuil</a></li>
                <li><a href="{{asset('menu')}}">Menus</a></li>
                {% if app.user %}
                    <li><a href="{{asset('reservation')}}">Réservation</a></li>
                {% endif %}
                <li><a href="{{asset('contact')}}">Contact</a></li>
                <li><button onclick="reserver();">reserver</button></li>
            </ul>
        </nav>
    </HEADER>
    <SECTION>
<div id="Rsrvation_detail"></div>
<style>
    #horaire td { width: 200px; }
</style>

<div class="example-wrapper">
            <article id="horaire">
                <h3 class="Hidden">horaire</h3>
                <table>
                    <tr class="horaire"><td>Horaires</td></tr>
                    <tr class="horaire_Jour"><td>Du lundi au vendredi</td></tr>
                    <tr class="horaire_Jour"><td>Midi</td><td>Soir</td></tr> 
                    <tr class="horaire_Heure"><td>12h00-15h00</td><td>19h00-22h00</td></tr>
                    <tr class="horaire_Heure"><td>12h00-15h00</td><td>19h00-22h00</td></tr>
                    <tr class="horaire_Jour"><td>Samedi et dimanche</td></tr>
                    <tr class="horaire_Jour"><td>Matin</td></tr>
                    <tr class="horaire_Heure"><td>6h30-8h30</td></tr>
                    <tr class="horaire_Jour"><td>Midi</td><td>Soir</td></tr>
                    <tr class="horaire_Heure"><td>12h00-15h00</td><td>19h00-23h00</td></tr>
                </table>
            </article>
</div>
    </SECTION>
    <SECTION id="ResPlat">

        <H5 id="telephone">Validation Téléphonique: 09.09.09.09.09</H5>
        <div id="ReservationLigne"></div>
        <div id="Detail"></div>
    </SECTION>
    
    <FOOTER style="position:relative;bottom:0px;">
        <SECTION id="PiedDePage">
            <div>  
                    <h4>Contacter Nous</h4>
                    <img class="logo" src="assets/images/iconfinder_square-facebook.svg" alt="logo Facebook"/>
                    <img class="logo" src="assets/images/iconfinder_circle-twitter.svg" alt="logo Twitter"/>
                    <img class="logo" src="assets/images/iconfinder_pinterest.svg" alt="logo Pinterest"/>
            </div>
            <div>
                <h4>© Copyright 2021</h4>
                <div id="debug"></div>
            </div>
        </SECTION>
        </FOOTER>
        
 

{% endblock %}
